<?xml version="1.0"?>
<launch>
	<arg name="model1"/>
	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find dec_description)/urdf/rover.xacro" />
	<!-- Setting gui parameter to true for display joint slider -->
	<param name="use_gui" value="true"/>
	

<!-- Starting Joint state publisher node which will publish the joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<param name="use_gui" value="True"/>
  

<!-- Starting robot state publish which will publish tf -->
	

<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	

<!-- Launch visualization in rviz -->
 
	 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dec_description)/urdf1.rviz" required="true" />  
</launch>
